html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
}
main {
  height: 1079px;
  background-image: url("running-track-g158557ac0_1920.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label_name {
  display: flex;
  height: 30px;
  width: 100%;
  font-size: 14px;
  font-family: "Papyrus";
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* header 부분 */
header {
  background-color: rgb(54, 52, 52);
}
.header_title a {
  height: 90%;
  width: 300px;
  font-family: "Papyrus";
  font-size: 70px;
  color: white;
  display: flex;
  padding: 0 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  float: left;
  text-decoration: none;
}
.header_nav {
  float: right;
}
.header_nav_menu {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
}
.header_nav_menu a {
  font-family: "Papyrus";
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

/* 메인 화면 */
body {
  margin: 0px;
}
.main_panel {
  display: flex;
}
.blur_box {
  display: flex;
  width: 70%;
  height: 700px;
  /* height: 400px; */
  /* width: 700px; */
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 3px solid hsla(0, 3%, 46%, 0.3);
  border-radius: 40px;
}
.white_box {
  display: flex;
  height: 300px;
  width: 600px;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border: 5px solid white;
}
h3.main_title {
  font-size: 50px;
  padding: 0 10px;
}
h1.main_title {
  font-size: 80px;
  padding: 0 10px;
}
.main_title {
  font-family: "Bauhaus 93";
  font-style: normal;
  color: white;
  align-content: center;
  text-align: center;
  margin: 10px auto;
  letter-spacing: 20px;
}

/* 로그인 화면 */
.main_login_panel {
  align-items: center;
}
.login_panel {
display: flex;
height: 700px;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  border: 3px solid hsla(0, 3%, 46%, 0.3);
  border-radius: 40px;
}
.panel_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: normal;
  font-family: "Papyrus";
  margin: 60px auto;
}
.login_panel_ul {
  height: 100%;
  width: 30%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient( to top, hsla(0, 0%, 100%, 0.5), rgba(0, 0, 0, 0.8) ); */
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.login_panel_ul li {
  list-style: none;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_panel_ul li input {
  background: none;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
.login_panel_ul li input:focus {
  outline: none;
}
.login_label_name {
  display: flex;
  height: 50px;
  font-size: 14px;
  font-family: "Papyrus";
  margin: auto;
  align-items: center;
}

/* 아이디 비번 찾기 화면 */
.main_find_panel {
  display: flex;
  justify-content: center;
}
.find_panel_ul {
  height: 100%;
  width: 30%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient( to top, hsla(0, 0%, 100%, 0.5), rgba(0, 0, 0, 0.8) ); */
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.find_panel_ul li {
  list-style: none;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find_panel_ul li input {
  background: none;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
.find_panel_ul li input:focus {
  outline: none;
}
.find_label_id {
  display: flex;
  font-size: 20px;
  font-family: "Papyrus";
  font-weight: bolder;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: hsla(207, 56%, 56%, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  height: 60px;
  width: 400px;
  border: none;
}
.find_label_pw {
  display: flex;
  font-size: 20px;
  font-family: "Papyrus";
  font-weight: bolder;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 52%, 57%, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  height: 60px;
  width: 400px;
  border: none;
}
.find_label_name {
  display: flex;
  height: 50px;
  font-size: 14px;
  font-family: "Papyrus";
  margin: auto;
  align-items: center;
}

/* 회원가입 */
.main_sign_panel {
  display: flex;
  justify-content: center;
}
.sign_panel_ul {
  height: 100%;
  width: 30%;
  padding: 0;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.sign_panel_ul li {
  list-style: none;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.sign_panel_ul li input {
  background: none;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}
.sign_label_name {
  display: flex;
  height: 30px;
  width: 80px;
  font-size: 14px;
  font-family: "Papyrus";
  margin: auto;
  align-items: center;
  justify-content: center;
}
.sign_p {
  font-family: "Cafe24 Ssurround air";
  text-align: center;
  height: 10px;
  font-size: 10px;
  margin: 0 auto;
}
.sign_radio {
  display: flex;
}

/* 마이 페이지 */
.mypage_button_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sign_label_name_id {
  width: 310px;
}
.sign_label_name_id:focus {
  outline: none;
}

/* 공지사항 관리자 */
.notice_name {
  font-family: "Cafe24 Ssurround air";
  height: 20px;
  width: 96%;
  margin: 5px auto;
  vertical-align: middle;
}
.notice_text {
  font-family: "Cafe24 Ssurround air";
  height: 20px;
  width: 96%;
  margin: 5px auto;
  vertical-align: middle;
}
.notice_title {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px auto;
  width: 96%;
}
.notice_textarea {
  height: 620px;
  width: 96%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px auto;
}

/* 공지사항 리스트 */
.main_notice_list_panel {
  display: flex;
  justify-content: flex-start;
}
.notice_list_form {
  height: 945px;
}
.notice_list_panel_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: normal;
  font-family: "Papyrus";
  margin: 20px auto;
}
.notice_search_area {
  width: 62%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
}
.notice_search {
  width: 98%;
  margin: 0 auto;
  display: flex;
  background: none;
  border: none;
}
.notice_search:focus {
  outline: none;
}
.notice_list_panel_ul {
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 10px 0px ;
  margin: 10px auto;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.notice_list_panel_ul::-webkit-scrollbar{
  width: 8px;
}
.notice_list_panel_ul::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.notice_list_panel_ul::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}
.notice_list_panel_ul ::placeholder {
  font-family: "Cafe24 Ssurround air";
  font-size: 15px;
  font-variant: small-caps;
  color: black;
}
.notice_list_panel_ul li {
  width: 90%;
  height: 20px;
  max-height: none;
  list-style: none;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.notice_no_p {
  width: 10%;
  height: 18px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-size: 16px;
}
.notice_title_p {
  width: 60%;
  height: 18px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-size: 16px;
}
.notice_date_p {
  width: 30%;
  height: 18px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-size: 16px;
}
.notice_list_textarea {
  height: 150px;
  width: 98%;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  resize: none;
  background: none;
  border-radius: 5px;
  border: none;
  font-family: "Cafe24 Ssurround air";
  padding: 10 10px;
}



/* 공지사항 등록 관리자 */
.main_notice_panel {
  display: flex;
  justify-content: center;
}
.notice_panel_ul {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 10px 0px ;
  margin: 10px auto;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.notice_panel_ul::-webkit-scrollbar{
  width: 8px;
}
.notice_panel_ul::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.notice_panel_ul::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}
.notice_panel_ul li {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.notice_label_name {
  display: flex;
  height: 30px;
  width: 80px;
  font-size: 14px;
  font-family: "Papyrus";
  margin: auto;
  justify-content: center;
  align-items: center;
}
.notice_panel_ul li input {
  background: none;
  height: 20px;
  width: 96%;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  display: inline-block;
}
.notice_update_text {
  resize: none;
  margin: 0 auto;
  width: 96%;
  height: 590px;
  /* background: rgba(128, 128, 128, 0.4); */
  background: none;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
}

/* 운동기록지 리스트 */
.main_list_panel {
  align-items: center;
}
.list_panel {
display: flex;
height: 90%;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  border: 3px solid hsla(0, 3%, 46%, 0.3);
  border-radius: 40px;
}
.list_panel_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: normal;
  font-family: "Papyrus";
  margin: 20px auto;
}
.list_label_name {
  display: flex;
  height: 30px;
  width: 100%;
  font-size: 20px;
  font-family: "Papyrus";
  padding: 0 5px;
  margin: 5px auto;
  align-items: center;
  justify-content: left;
}
.list_panel_ul {
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 90%;
  padding: 0;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff60;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.list_panel_ul li {
  list-style: none;
  margin: 0px auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list_panel_ul li p {
  font-family: "Cafe24 Ssurround air";
  margin: 3px auto;
}
ul::-webkit-scrollbar{
  width: 8px;
}
ul::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
ul::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}

/* 운동기록지 등록 */
.main_record_panel {
  align-items: center;
}
.record_panel {
display: flex;
height: 700px;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  border: 3px solid hsla(0, 3%, 46%, 0.3);
  border-radius: 40px;
}
.panel_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: normal;
  font-family: "Papyrus";
  margin: 60px auto;
}
.record_panel_ul {
  height: 100%;
  width: 70%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.record_panel_ul li {
  list-style: none;
  margin: 0px auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.record_panel_ul li input {
  background: none;
  font-family: "Papyrus";
  height: 30px;
  width: 120%;
  margin: 0px 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  display: inline-block;
}
.record_panel_ul ::placeholder {
  font-family: "Papyrus";
  font-size: 10px;
  font-variant: small-caps;
  color: black;
}
.record_panel_ul p {
  font-family: "Papyrus";
  margin: 0 auto;
  display: flex;
}
.record_label_name {
  display: flex;
  height: 30px;
  width: 100%;
  font-size: 14px;
  font-family: "Papyrus";
  margin: 5px auto;
  align-items: center;
  justify-content: center;
}
select::-ms-expand { 
	display: none;
}
select {
  font-family: "Papyrus";
  font-size: 10px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 120%;
  height: 34px;
  background: none;
  padding: 5px 0px 5px 10px;
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  outline: 0 none;
}
select option {
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-size: 16px;
  font-variant: small-caps;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  padding: 0 auto;
}

/* 운동정보 상세 */
.main_info_panel {
  display: flex;
  justify-content: center;
}
.info_panel_ul {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 10px 0px ;
  margin: 10px auto;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.info_panel_ul::-webkit-scrollbar{
  width: 8px;
}
.info_panel_ul::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.info_panel_ul::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}
.info_panel_ul li {
  width: 90%;
  max-height: none;
  list-style: none;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.info_panel_ul li p {
  font-family: "Cafe24 Ssurround air";
  padding: 10 10px;
  margin: 0 10px;
}
.info_final_p {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.info_panel_ul li textarea {
  resize: none;
  margin: 0 auto;
  width: 98%;
  background: none;
  border: none;
  font-family: "Cafe24 Ssurround air";
  padding: 10 10px;
}
.info_panel_ul li textarea::-webkit-scrollbar{
  width: 8px;
}
.info_panel_ul li textarea::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.info_panel_ul li textarea::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}
.info_final_textarea {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.info_panel_ul li textarea:focus {
  outline: none;
}
.info_label_name {
  display: flex;
  height: 30px;
  font-size: 20px;
  font-family: "Papyrus";
  margin: auto;
  justify-content: center;
  align-items: center;
}
.info_panel_ul li input {
  background: none;
  height: 20px;
  width: 96%;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  display: inline-block;
}
.info_headline {
  font-family: "Cafe24 Ssurround air";
  margin: 5px auto;
  padding: 0 30px;
  font-size: 20px;
}
.info_line {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* 운동정보 등록 */
.main_info_add_panel {
  display: flex;
  justify-content: center;
}
.info_add_panel_label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-style: normal;
  font-family: "Papyrus";
  margin: 20px auto;
}
.info_add_headline {
  font-family: "Cafe24 Ssurround air";
  margin: 5px auto;
  font-size: 20px;
  background: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.info_add_panel_ul {
  max-height: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70%;
  padding: 10px 0px ;
  margin: 10px auto;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.info_add_panel_ul::-webkit-scrollbar{
  width: 8px;
}
.info_add_panel_ul::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.info_add_panel_ul::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}
.info_add_panel_ul ::placeholder {
  font-family: "Cafe24 Ssurround air";
  font-size: 15px;
  font-variant: small-caps;
  color: black;
}
.info_add_panel_ul li {
  width: 90%;
  max-height: none;
  list-style: none;
  background-color: #ffffff10;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.info_add_panel_ul li textarea::-webkit-scrollbar{
  width: 8px;
}
.info_add_panel_ul li textarea::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.info_add_panel_ul li textarea::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}
.info_add_panel_ul li p {
  font-family: "Cafe24 Ssurround air";
  padding: 10 10px;
  margin: 0 10px;
}
.info_add_label_name {
  display: flex;
  height: 30px;
  font-size: 20px;
  font-family: "Papyrus";
  margin: auto;
  justify-content: center;
  align-items: center;
}
.info_add_textarea {
  height: 150px;
  width: 98%;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  resize: none;
  background: none;
  border-radius: 5px;
  border: none;
  font-family: "Cafe24 Ssurround air";
  padding: 10 10px;
}
.main_info_add_panel :focus {
  border: 2px solid orange;
  outline: 3px solid white;
}
.info_div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.info_div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.info_div input {
  background: none;
  font-family: "Cafe24 Ssurround air";
  height: 30px;
  width: 120%;
  margin: 0px 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  display: inline-block;
}

/* button */
.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
}
button, button a {
  text-decoration: none;
  font-family: "Cafe24 Ssurround air";
  color: white;
  font-size: 16px;
}
.grayButton {
  padding: 5px 50px;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgba(131, 148, 155, 0.3);
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.blue_button {
  padding: 5px 50px;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgb(64, 190, 235);
  font-family: "Papyrus" "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.red_button {
  padding: 5px 50px;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgb(235, 64, 64);
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.gray_button {
  padding: 5px 50px;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgb(83, 79, 79);
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.empty_button {
  padding: 5px 50px;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgba(83, 79, 79, 0);
  color: #7d90b100;
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.record_gray_button {
  padding: 5px 50px;
  margin: 20px auto;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgba(131, 148, 155, 0.3);
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.record_blue_button {
  padding: 5px 50px;
  margin: 20px auto;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgb(64, 190, 235);
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}
.record_red_button {
  padding: 5px 50px;
  margin: 20px auto;
  border: 0px;
  outline: 0px;
  border-radius: 10px;
  background-color: rgb(235, 64, 64);
  font-family: "Papyrus", "Cafe24 Ssurround air";
  font-weight: normal;
  font-style: normal;
}

/* textarea scroll bar */
textarea::-webkit-scrollbar{
  width: 8px;
}
textarea::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
textarea::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
  display: none;
}





/* 상단 삭제 금지 */


/* main 영역 */
.label, .label_id, .label_pw {
  list-style: none;
  padding: 0;
}

.iframe {
  display: block;
  border: none;
  height: 100%;
  width: 100%;
}

#top_label {
  font-size: 60px;
  font-style: normal;
  font-family: "Forte";
  text-align: center;
  margin: 10px auto;
}

#area {
  display: grid;
  padding: 10px;
  margin: 20px 10%;
  justify-content: center;
}

.finder_name {
  display: flex;
  font-size: 30px;
  font-style: normal;
  margin: 0 15%;
  font-family: "Bradley hand ITC";
  font-style: italic;
  font-weight: bold;
}

/* 아이디 비번 찾기 */
.find_info_header {
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_input_blue {
  border: 2px solid #7d90b1;
  border-radius: 10px;
  background-color: #d5ebf8;
}

.user_input_pink {
  border: 2px solid #cc8894;
  border-radius: 10px;
  background-color: #ede1e3;
}

.user_input_white {
  height: 25px;
  border: 2px solid #cc889500;
  border-radius: 10px;
  background-color: #ede1e300;
}

.user_input_white:focus {
  outline: none;
}


/* 운동정보 리스트
Exercise_List */
#list_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  height: 140px;
  width: 100px;
  padding: 5px;
  margin-bottom: 10px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card_text h2 {
  font-family: "Cafe24 Ssurround air";
  margin: 10px auto;
  align-items: center;
}
.card_text {
  font-family: "Cafe24 Ssurround air";
  font-size: 10px;
}
#exer_list_topic_table ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}
#exer_list_topic_table li {
  margin: 0 auto;
  align-content: center;
}
#exer_list_topic_table a {
  text-decoration: none;
  color: black;
  font-family: "Cafe24 Ssurround air";
  font-style: normal;
  font-weight: border;
}

/* 공지사항 */
.border_inner {
  padding: 0 auto;
  margin: 0 auto;
}

.border_inner p, .border_inner textarea, .border_inner input[type="text"] {
  width: 96%;
  font-family: "Cafe24 Ssurround air";
  font-size: 14px;
}

.border_label {
  font-family: "Cafe24 Ssurround air";
  font-size: 20px;
  justify-content: center;
  vertical-align: middle;
  margin: 10px auto;
  padding: 0 2%;
}

.border_title {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 auto;
  margin: 10px auto;
}

.border_textarea {
  height: 500px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 auto;
  margin: 10px auto;
}

/* 공지사항 사용자, 관리자가 일반적으로 보는 제목과 내용 */
.border_title p, .border_textarea p {
  padding: 0 10px;
}

/* 공지사항 - 등록 관리자

.border_textarea h4 {
  padding: 0 2%;
}

/* 운동 기록 등록 */
.bir_year {
  display: flex;
  padding: 2%;
  width: 30%;
}
.bir_mon {
  display: flex;
  padding: 2%;
  width: 30%;
}
.bir_day {
  display: flex;
  padding: 2%;
  width: 30%;
}